---
import Layout from '@layouts/Layout.astro';
---
<Layout title="404 - No encontrado">
    <main class="flex flex-col items-center justify-center min-h-screen">
        <h1 class="text-4xl font-serif text-brand-indigo">404</h1>
        <p class="font-mono opacity-60">Parece que este segmento de red no existe.</p>
        <a href="/" class="mt-4 underline">Regresar al inicio</a>
    </main>
</Layout>
